{{!-- TBD... --}}

    <div class="nav">
      <div class="wrapper">
        <a href="#">Popular</a>
        <a href="#">Recent</a>
        <label for="search">Search</label>
        <input id="search" type="search" placeholder="iPhone 6+ template">
      </div>
    </div>