{{!-- TBD... --}}
    <ul class="resources">
      <li>
        <img src="Media/01.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/02.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/03.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/04.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/05.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/06.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/07.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/08.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/09.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/10.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/11.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/12.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/01.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>

      
      <li>
        <img src="Media/02.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/03.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/04.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/05.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/06.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/07.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/08.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/09.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/10.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/11.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>


      <li>
        <img src="Media/12.png">
        <div class="resource_info">
          <h2>Cardboard Tag Template</h2>
          <a href="#" class="button">View Resource</a>
          <p class="price">$22</p>
        </div>
      </li>
    </ul>